.snakemake/
*/.snakemake/
analysis
analysis-doc/*/data/*
analysis-doc/*/results/*
results
results/*
resources
resources/*
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md

# file to ignore in resource
resources/genetic-maps/*

# ignore word documents
workflow/scripts/XGMix-master/*

# ingore html and word

analysis-doc/*/README.docx
analysis-doc/*/README.html
analysis-doc/*/*.png
analysis-doc/*/*.pdf
analysis-doc/*/plots/*

# for R
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
