.snakemake/
*/.snakemake/
analysis
analysis-doc/*/data/*
analysis-doc/*/results/*
results
results/*
resources
resources/*
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md

# file to ignore in resource
resources/genetic-maps/*
